/**
 * Reset some basic elements
 */

$text-width: 55em;

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: normal;
  font-size: 16px;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
  max-width: $text-width;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1rem;
}

.hero-title {
  position: relative;
  font-size: 5em;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-span {
  position: absolute;
  font-size: 20px;
  transform: rotateZ(20deg) translate(-50%, 10px);
  background: $brand-color;
  padding: 2px;
}

.big-title {
  font-size: 2.5em;
  font-weight: bold;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

/**
 * Links
 */
a {
  color: $text-color;
  text-decoration: none;
  line-height: 1;
}

a.highlight {
  color: $brand-color;
  font-weight: bold;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #191b2a;
  max-width: $text-width;
}

code {
  padding: 1px 5px;
  color: #eff0f6;
}

pre {
  padding: 12px 16px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: 1280px;
  width: 100%;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

/**
 * Card
 */
.card-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    flex: 0 0 32%;
  }
}

@include media-query($phone) {
  .card-stack {
    flex-direction: column;
    .card {
      flex: 0 0 100%;
    }
  }
}

/**
 * Paragraph
 */
p {
  max-width: $text-width;
}

.lead {
  font-size: 1.5em;
  line-height: 1.2;
}
