/**
 * Site header
 */
.site-header {
  top: 0;
  width: 100%;
  // border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  max-height: 80px;
  // Positioning context for the mobile navigation icon
  position: relative;
  background: $brand-color;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  @include media-query($phone) {
    padding: 8px 16px;
    flex-wrap: wrap;
    align-items: center;
    max-height: none;
  }
}

.site-title {
  font-size: 20px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  display: block;
  text-decoration: none;
  color: $text-color;
  font-weight: normal;

  @include media-query($phone) {
    font-size: 20px;

    .logo {
      height: 35px;
    }
  }
}

.logo {
  z-index: 600;
  height: 40px;
  width: 100px;
}

.menu-toggle {
  display: none;

  &:checked ~ .site-nav {
    display: block;
  }
}

.menu-icon {
  display: none;
  line-height: 0;
  text-align: center;

  > svg {
    width: 18px;
    height: 15px;

    path {
      fill: $grey-color-dark;
    }
  }
  @include media-query($phone) {
    display: block;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  .page-link {
    margin-right: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
  @include media-query($phone) {
    display: none;
    flex: 0 0 100%;

    .page-link {
      display: flex;
      align-items: center;
      // justify-content: center;
      height: 40px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  color: $gray-text-color;
  text-align: right;
  display: flex;
  align-items: center;

  a {
    color: $text-color;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 8px;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.main-section {
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.card {
  padding: 16px;
  text-decoration: none;
  font-weight: inherit;
}

.feat-img {
  width: 100%;
  overflow: hidden;
  max-height: 350px;
  margin-bottom: 16px;
  img {
    width: 100%;
  }
}

.post-card:first-child {
  flex: 1 1 100%;
}

/* STYLEGUIDE */

.styleguide-wrapper {
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 72px);
}

.styleguide-sidebar {
  border-right: 1px solid $grey-color-light;
  width: 25%;
  height: 100%;
  font-size: 1.4em;
  line-height: 1.2;
  .language {
    border-bottom: 1px solid $grey-color-light;

    &:hover {
      background-color: $brand-color-lightest;
    }
    &.active {
      background: $brand-color-lightest;
    }
    a {
      height: 100%;
      padding: 16px;
      width: 100%;
      display: block;
    }
  }
}

.styleguide-page {
  width: 75%;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
}

.styleguide-content {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.35em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
  i {
    transition: color 225ms ease;
  }
  a {
    text-decoration: underline;
    transition: color 225ms ease;

    &:hover, &:hover i {
      color: $brand-color;
    }
  }
}

.pagination {
  text-align: center;
}
