/**
 * Syntax highlighting styles
 */
.highlight {
  @extend %vertical-rhythm;

  .hll {
    background-color: #ffffcc;
  }
  .c {
    color: #4f5987;
    font-style: italic;
  } /* Comment */
  .err {
    color: #f92672;
    background-color: #e3d2d2;
  } /* Error */
  .p {
    color: #eff0f6;
  }
  .k {
    color: #eff0f6;
    font-weight: bold;
  } /* Keyword */
  .o {
    color: #eff0f6;
    font-weight: bold;
  } /* Operator */
  .cm {
    color: #858db7;
    font-style: italic;
  } /* Comment.Multiline */
  .cp {
    color: #858db7;
    font-weight: bold;
    font-style: italic;
  } /* Comment.Preproc */
  .c1 {
    color: #858db7;
    font-style: italic;
  } /* Comment.Single */
  .cs {
    color: #858db7;
    font-weight: bold;
    font-style: italic;
  } /* Comment.Special */
  .gd {
    color: #eff0f6;
    background-color: #ffdddd;
  } /* Generic.Deleted */
  .ge {
    color: #eff0f6;
    font-style: italic;
  } /* Generic.Emph */
  .gr {
    color: #f92672;
  } /* Generic.Error */
  .gh {
    color: #858db7;
  } /* Generic.Heading */
  .gi {
    color: #eff0f6;
    background-color: #ddffdd;
  } /* Generic.Inserted */
  .go {
    color: #4f5987;
  } /* Generic.Output */
  .gp {
    color: #eff0f6;
  } /* Generic.Prompt */
  .gs {
    font-weight: bold;
  } /* Generic.Strong */
  .gu {
    color: #858db7;
  } /* Generic.Subheading */
  .gt {
    color: #f92672;
  } /* Generic.Traceback */
  .kc {
    color: #eff0f6;
    font-weight: bold;
  } /* Keyword.Constant */
  .kd {
    color: #eff0f6;
    font-weight: bold;
  } /* Keyword.Declaration */
  .kn {
    color: #eff0f6;
    font-weight: bold;
  } /* Keyword.Namespace */
  .kp {
    color: #eff0f6;
    font-weight: bold;
  } /* Keyword.Pseudo */
  .kr {
    color: #eff0f6;
    font-weight: bold;
  } /* Keyword.Reserved */
  .kt {
    color: #3887ff;
    font-weight: bold;
  } /* Keyword.Type */
  .m {
    color: #66d9ef;
  } /* Literal.Number */
  .s {
    color: #f92672;
  } /* Literal.String */
  .na {
    color: #77dcb8;
  } /* Name.Attribute */
  .nb {
    color: #0086b3;
  } /* Name.Builtin */
  .nc {
    color: #3887ff;
    font-weight: bold;
  } /* Name.Class */
  .no {
    color: #77dcb8;
  } /* Name.Constant */
  .nd {
    color: #5caa8f;
    font-weight: bold;
  } /* Name.Decorator */
  .ni {
    color: #ae81ff;
  } /* Name.Entity */
  .ne {
    color: #f92672;
    font-weight: bold;
  } /* Name.Exception */
  .nf {
    color: #f92672;
    font-weight: bold;
  } /* Name.Function */
  .nl {
    color: #f92672;
    font-weight: bold;
  } /* Name.Label */
  .nx {
    color: #f92672;
    font-weight: bold;
  } /* Name.Label */
  .nn {
    color: #eff0f6;
  } /* Name.Namespace */
  .nt {
    color: #ffe25e;
  } /* Name.Tag */
  .nv {
    color: #66d9ef;
  } /* Name.Variable */
  .ow {
    color: #eff0f6;
    font-weight: bold;
  } /* Operator.Word */
  .w {
    color: #bbbbbb;
  } /* Text.Whitespace */
  .mf {
    color: #66d9ef;
  } /* Literal.Number.Float */
  .mh {
    color: #66d9ef;
  } /* Literal.Number.Hex */
  .mi {
    color: #66d9ef;
  } /* Literal.Number.Integer */
  .mo {
    color: #66d9ef;
  } /* Literal.Number.Oct */
  .sb {
    color: #66d9ef;
  } /* Literal.String.Backtick */
  .sc {
    color: #66d9ef;
  } /* Literal.String.Char */
  .sd {
    color: #66d9ef;
  } /* Literal.String.Doc */
  .s2 {
    color: #66d9ef;
  } /* Literal.String.Double */
  .se {
    color: #66d9ef;
  } /* Literal.String.Escape */
  .sh {
    color: #66d9ef;
  } /* Literal.String.Heredoc */
  .si {
    color: #66d9ef;
  } /* Literal.String.Interpol */
  .sx {
    color: #66d9ef;
  } /* Literal.String.Other */
  .sr {
    color: #3887ff;
  } /* Literal.String.Regex */
  .s1 {
    color: #66d9ef;
  } /* Literal.String.Single */
  .ss {
    color: #ae81ff;
  } /* Literal.String.Symbol */
  .bp {
    color: #ffe25e;
  } /* Name.Builtin.Pseudo */
  .vc {
    color: #77dcb8;
  } /* Name.Variable.Class */
  .vg {
    color: #77dcb8;
  } /* Name.Variable.Global */
  .vi {
    color: #77dcb8;
  } /* Name.Variable.Instance */
  .il {
    color: #66d9ef;
  } /* Literal.Number.Integer.Long */
}
